@media (max-width: 474.99px) {
   .general h1 {
      font-size: 1.2rem;
   }

   .card {
      width: 350px;
      height: 300px;
      left: -13px;
   }

   .card .general {
      width: 200px;
      height: 100%;
      top: 0;
      left: 150px;
   }

   .card .additional .more-info h1 {
      font-size: 1.2rem;
      margin-top: 20px;
      margin-bottom: 10px;
      padding-left: 17px;
      width: 200px;
   }

   .cta-icon-catalogue {
      margin-left: -13px;
   }
}

@media (min-width: 475px) {
   .general h1 {
      font-size: 1.6rem;
   }

   .card {
      width: 400px;
      height: 250px;
   }

   .card .general {
      width: 245px;
      height: 100%;
      top: 0;
      right: 0;
   }

   .card .additional .more-info h1 {
      font-size: 1.6rem;
      margin-top: 20px;
      margin-bottom: 10px;
      padding-left: 25px;
   }
}

@media (min-width: 991.99px) {
   .m-t-catalogue {
      margin-top: 20px;
   }
}

.card .general {
   position: absolute;
   z-index: 1;
   box-sizing: border-box;
   padding: 1rem;
   padding-top: 0;
}

.card .general .more {
   position: absolute;
   bottom: 1rem;
   right: 1rem;
   font-size: 0.9em;
}


.general h1 {
   font-family: 'Proxima Nova', sans-serif;
   font-weight: 600;
   line-height: 1.2;
   /*letter-spacing: 5px;*/
   margin-top: 20px;
   margin-bottom: 10px;
}

.card .additional .more-info h1 {
   font-family: 'Proxima Nova', sans-serif;
   font-weight: 600;
   line-height: 1.2;
   /*letter-spacing: 5px;*/
   color: #fff;
}

.center {
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
}

.card {
   background-color: #f6f6f6;
   /*box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);*/
   border-radius: 0;
   overflow: hidden;
   position: relative;
   margin: none;
   border: none;
}

.card h1 {
   text-align: left;
}

.card .additional {
   position: absolute;
   width: 150px;
   height: 100%;
   /*
   background: linear-gradient(#dE685E, #EE786E);*/
   background: #30bac6;
   transition: width 0.4s;
   overflow: hidden;
   z-index: 2;
   border-right: 6px solid #30bac6;
}



.card:hover .additional {
   width: 100%;
   border-radius: 0;
}

.card .additional .user-card {
   width: 150px;
   height: 100%;
   position: relative;
   float: left;
}

.card .additional .user-card::after {
   content: "";
   display: block;
   position: absolute;
   top: 10%;
   right: -2px;
   height: 80%;
   border-left: 2px solid rgba(0, 0, 0, 0.025);
}

.card .additional .user-card .level,
.card .additional .user-card .points {
   top: 15%;
   color: #fff;
   text-transform: uppercase;
   font-size: 0.75em;
   font-weight: bold;
   background: rgba(0, 0, 0, 1);
   padding: 0.125rem 0.75rem;
   border-radius: 0;
   white-space: nowrap;
}

.card .additional .user-card .points {
   top: 85%;
}

.card .additional .user-card svg {
   top: 50%;
}

.card .additional .more-info {
   width: 245px;
   float: left;
   position: absolute;
   left: 150px;
   height: 100%;
   background-color: #30bac6;
}

.card .additional .coords {
   margin: 0 1rem;
   color: #fff;
   font-size: 1rem;
}


.card .additional .coords span+span {
   float: right;
}

.card .additional .stats {
   font-size: 2rem;
   display: flex;
   position: absolute;
   bottom: 1rem;
   left: 1rem;
   right: 1rem;
   top: auto;
   color: #fff;
}


.card .additional .stats>div {
   flex: 1;
   text-align: center;
}

.card .additional .stats i {
   display: block;
}

.card .additional .stats div.title {
   font-size: 0.75rem;
   font-weight: bold;
   text-transform: uppercase;
}

.card .additional .stats div.value {
   font-size: 1.5rem;
   font-weight: bold;
   line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
   font-size: 2.5rem;
}